.ms-level-input:not(:last-child) {
    margin-right: 10px;
}

.ms-board-row {
    display: flex;
}

.ms-board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid lightgray;
    cursor: default;
}

.ms-board-cell.mod-cover {
    background-color: gray;
}

.ms-board-cell.mod-bomb {
    background-color: pink;
}

.ms-board-cell.mod-flag {
    color: white;
    background-color: grey;
}
